<div id="workflow-tasks">
   <ul class="single">
        <li class="task-status-<%=wftask['@'].status%>">
            <a rel="self" href="<%=wftask['@'].uri%>">
               <span class="name">
                   <%=wftask['@'].name%>
               </span>
            </a>
        </li>
       <div id="workflow-task-inputs">
          <ul class="all">
             <li class="list-name">Inputs</li>
             <% for(j=0,y=wftask.uses.length;j<y;j++) { %>
                 <% if (wftask.uses[j]['@'].link == 'input') { %>
                    <li class="data-status-<%=wftask.uses[j]['@'].status%>">
                       <a rel="workflow-task-data input" href="<%=wftask.uses[j]['@'].uri%>/"><%=wftask.uses[j]['@'].file%></a>
                    </li>
                 <% } %>
             <% } %>
          </ul>
       </div>
       <div id="workflow-task-outputs">
          <ul class="all">
             <li class="list-name">Outputs</li>
             <% for(j=0,y=wftask.uses.length;j<y;j++) { %>
                 <% if (wftask.uses[j]['@'].link == 'output') { %>
                    <li class="data-status-<%=wftask.uses[j]['@'].status%>">
                       <a rel="workflow-task-data output" href="<%=wftask.uses[j]['@'].uri%>/"><%=wftask.uses[j]['@'].file%></a>
                    </li>
                 <% } %>
             <% } %>
          </ul>
       </div>
     </li>
   </ul>
   <div id="parent-workflow-instance">
      <a rel="workflow-instance" href="<%=wfuri%>">Belongs to workflow instance</a>
   </div>
</div>
