<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/hyperflow.css' />
  </head>
  <body>
    <h1 id="main-title">Hypermedia workflow</h1>

<!-- specific part !-->

<div id="workflow-tasks">
   <ul class="single">
        <li class="task-status-<%=task.status%>">
            <a rel="self" href="<%=task.uri%>">
               <span class="name">
                   <%=task.name%>
               </span>
            </a>
        </li>
       <div id="workflow-task-inputs">
          <ul class="all">
             <li class="list-name">Inputs</li>
             <% for(var j in ins) { %>
                    <li class="data-status-<%=ins[j].status%>">
                       <a rel="workflow-task-data input" href="<%=ins[j].uri%>/"><%=ins[j].name%></a>
                    </li>
             <% } %>
          </ul>
       </div>
       <div id="workflow-task-outputs">
          <ul class="all">
             <li class="list-name">Outputs</li>
             <% for(var j in outs) { %>
                    <li class="data-status-<%=outs[j].status%>">
                       <a rel="workflow-task-data output" href="<%=outs[j].uri%>/"><%=outs[j].name%></a>
                    </li>
             <% } %>
          </ul>
       </div>
     </li>
   </ul>
   <div id="parent-workflow-instance">
      <a rel="workflow-instance" href="<%=wfuri%>">Belongs to workflow instance</a>
   </div>
</div>

<!-- specific part end !-->

  </body>
</html>
