<div id="workflow-tasks">
   <ul class="single">
     <li>
       <span class="name">
          <%=wftask['@'].name%>
       </span>
       <div id="workflow-task-inputs">
          <ul class="all">
             <% for(j=0,y=wftask.uses.length;j<y;j++) { %>
                 <% if (wftask.uses[j]['@'].link == 'input') { %>
                    <li>In
                       <a rel="workflow-task-data input" href="/workflow/<%=wfname%>/data-<%=wftask.uses[j]['@'].id%>/">/workflow/<%=wfname%>/data-<%=wftask.uses[j]['@'].id%>/</a>
                       <form method="post" action="<%=wftask['@'].uri%>" class="input-data-link">
                          <input type="text" name="input-data-link" value="<%=wftask.uses[j]['@'].uri%>" required="true"/>
                          <input type="submit" value="Send this data!" />
                       </form>
                    </li>
                 <% } %>
             <% } %>
          </ul>
       </div>
       <div id="workflow-task-outputs">
          <ul class="all">
             <% for(j=0,y=wftask.uses.length;j<y;j++) { %>
                 <% if (wftask.uses[j]['@'].link == 'output') { %>
                    <li>Out
                       <a rel="workflow-task-data output" href="/workflow/<%=wfname%>/data-<%=wftask.uses[j]['@'].id%>/">/workflow/<%=wfname%>/data-<%=wftask.uses[j]['@'].id%>/</a>
                    </li>
                 <% } %>
             <% } %>
          </ul>
       </div>
     </li>
   </ul>
</div>