<h2 id="page-title">Workflow <%=wfname%></h2>
<div class="workflow">
  <form class="workflow-execute" action="/workflow/<%=wfname%>/" method="post">
    <p class="buttons">
      <input type="submit" value="Execute" />
    </p>
  </form>
  <div id="workflow-tasks">
    <ul class="all">
      <% for(i=0,x=wftasks.length;i<x;i++) { %>
        <li>
            <a rel="workflow-task" href="<%=wftasks[i]['@'].uri%>">
               <span class="name">
                   <%=wftasks[i]['@'].name%>
               </span>
            </a>
            <span class="status">
               <%=wftasks[i]['@'].status%>
            </span>
        </li>
      <% } %>
    </ul>   
  </div>
</div>
