<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/hyperflow.css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style type="text/css">
            .input-item-wrap { 
                position: relative;
                display: inline-block;
                width: 9em;
                height: 4em;
                color:Moccasin;
                background-color:Moccasin;
                overflow: hidden;
                z-index: 1;
            }
            .input-item-wrap:hover { z-index: 2; overflow: visible; }
            .input-item2 {
                position: absolute;
                display: inline-block;
                width: 9em;
                height: 4em;
                margin-bottom: 5px;
                background: #fff;
                transition: width 0.3s, height 0.3s;
            }
            .input-item2:hover {
                width: 350px;
                height: 200px;
                background: #eee;
                transition: width 0.1s ease 0.1s, height 0.1s ease 0.1s;
            }
            .divVisible { display:block; 
                height: 50px;
                width: 200px;
            }
            .divHidden { display:none; }
            .col-md-2 { 
                height: 100px; 
                background-color: papayawhip; 
                color: white;
                border: 2px solid black;
            }


        </style>
        <script language="javascript" type="text/javascript">
            function CollapseExpand(id) {
                var divID = "cediv"+id;
                var divObject = document.getElementById(divID);
                var currentCssClass = divObject.className;
                if (divObject.className == "divVisible")
                    divObject.className = "divHidden";
                else
                    divObject.className = "divVisible";
            }
</script>
    </head>
    <body>


        <!-- specific part !-->

        <div class="container">
            <h1 id="main-title">Hypermedia workflow</h1>
            <h2 id="page-title">Workflow <%=wfname%></h2>

            <form name="workflow-inputs" action="<%=submit_ins_uri%>" method="post">
                <!--<li class="list-name">Inputs</li>!-->
                <div class="row">
                    <% for(j=0,y=wfins.length;j<y;j++) { %>
                    <div class="col-md-2">
                        <a rel="workflow-task-data input" href="<%=wfins[j].uri%>/"><%=wfins[j].name%></a>
                        <div class="dropdown disabled">
                            <a class="btn dropdown-toogle" href="#" data-toggle="dropdown">Fill<span class="caret"></span></a>
                            <div class="dropdown-menu>
                                <input class="wfinput" type="text" name="in:<%=j+1%>"/>
                                <!--<input id="button<%=j%>" type="button" value="+" 
                                onclick="return CollapseExpand(<%=j%>)" />!-->
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </form>
            <p>
            <input class="button" type="submit" value="Submit workflow inputs"/>
        </ul>
    </div>

    <!-- specific part end !-->
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    

</body>
</html>
