<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/hyperflow.css' />
  </head>
  <body>
    <h1 id="main-title">Hypermedia workflow</h1>

<!-- specific part !-->

<h2 id="page-title">Workflow <%=wfname%></h2>
<div id="workflow">
  <form class="workflow-execute" action="/workflow/<%=wfname%>/" method="post">
    <p class="buttons">
      <input class="button" type="submit" title="At the moment only 3 instances are allowed" value="Create a new instance" />
    </p>
  </form>
  <div id="workflow-instances">
    <ul class="all">
      <li title="Colors: Red=ready, Blue=running Green=finished" class="list-name">Current instances</li>
      <% for(i=0,x=inst.max;i<x;i++) { %>
        <% if (i in inst.data) { %>
          <li class="instance-status-<%=inst.data[i].status%>">
             <a rel="workflow-instance" href="<%=inst.data[i].uri%>/">Instance <%=i%></a>
          </li>
        <% } %>
      <% } %>
    </ul>
  </div>
</div>

<!-- specific part end !-->

  </body>
</html>
