<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/hyperflow.css' />
  </head>
  <body>
    <h1 id="main-title">Hypermedia workflow</h1>

<!-- specific part !-->

<div id="workflow-data">
  <% if (data.status == 'not_ready') { %>
    <form class="workflow-instance-run" action="<%=data.uri%>" method="post">
      <p class="buttons">
        <input class="button" type="submit" value="Submit this data"/>
	<input class="data-id" type="hidden" value="<%=data_id%>"/>
      </p>
    </form>
  <% } %>
  <ul class="single">
    <li>
      <span class="name">
         <%=data.name%>
      </span>
    </li>
    <li>
      <span class="size">
         <%=data.size%>
      </span>
    </li>
    <div id="produced-by">
      <ul class="all">
        <li class="list-name">Produced by</li>
        <% for(j=0,y=source.length;j<y;j++) { %>
          <li>
            <a rel="workflow-task data-producer" href="<%=source[j].uri%>/"><%=source[j].name%></a>
          </li>
        <% } %>
      </ul>
    </div>
      <div id="consumed-by">
        <ul class="all">
          <li class="list-name">Consumed by</li>
          <% for(j=0,y=sinks.length;j<y;j++) { %>
            <li>
              <a rel="workflow-task data-consumer" href="<%=sinks[j].uri%>/"><%=sinks[j].name%></a>
            </li>
          <% } %>
        </ul>
      </div>
    </li>
  </ul>
</div>

<!-- specific part end !-->

  </body>
</html>
