<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/hyperflow.css' />
  </head>
  <body>
    <h1 id="main-title">Hypermedia workflow</h1>

<!-- specific part !-->

<h2 id="page-title">Workflow <%=wfname%></h2>
<div id="workflow-instance">
    <% if (stat == 'waiting') { %>
      <form class="workflow-instance-run" action="/workflow/<%=wfname%>/instances/<%=nr%>" method="post">
        <p class="buttons">
          <input class="button" type="submit" value="Run"/>
        </p>
      </form>
    <% } %>

    <div id="workflow-task-inputs">
        <form name="workflow-inputs" action="<%=submit_inputs_uri%>" method="post">
            <ul id="workflow-inputs" class="all">
                <li class="list-name">Inputs</li>
                <% for(j=0,y=wfins.length;j<y;j++) { %>
                <div class="input-item">
                <li class="data-status-<%=wfins[j].status%>">
                <a rel="workflow-task-data input" href="<%=wfins[j].uri%>/"><%=wfins[j].name%></a>
                <input class="wfinput" type="text" name="in:<%=j+1%>"/>
                </li>
                 </div>
                <% } %>
                <input class="button" type="submit" value="Submit workflow inputs"/>
            </ul>
        </form>
    </div>

    <div id="workflow-task-outputs">
        <ul id="workflow-outputs" class="all">
            <li class="list-name">Outputs</li>
            <% for(j=0,y=wfouts.length;j<y;j++) { %>
	      <% var v=wfouts[j].name;
	        if ("value" in wfouts[j]) {
	          v+=",value="+wfouts[j].value;
	        }
	      %>
            <li class="data-status-<%=wfouts[j].status%>">
            <a rel="workflow-task-data output" href="<%=wfouts[j].uri%>/"><%=v%></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>


<!-- specific part end !-->

  </body>
</html>
